/* CSS specific for this page */
.museum-name {
    font-size: 1.2rem;
    font-weight: bold;
    color: green;
    text-shadow: -1px 0 #21552A, 0 1px #21552A, 1px 0 #21552A, 0 -1px #21552A;
    margin-bottom: 0px;
    padding-left: 10px;
}

.about-page-motto {
    margin-top: 0px;
}

.contact-info-container {
    margin-left: 20px;
}

.contact-text {
    color: black;
}

/* Media queries for this page*/

@media (min-width: 900px) {
    .about-page-logo {
        max-width: 100px;
        max-height: 100px;
    }
    .museum-name {
        font-size: 2.2rem;
    }
    
    .contact-info-subcontainer {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 20px;
        align-items: center;
    }

    .contact-boxes {
        width: 200px;
    }

    .contact-button {
        place-content: center;
        margin-top: 20px;
    }
}
