/* Gobal styles */
@font-face {
    font-family: macho, sans-serif;
    src: url("https://use.typekit.net/af/61e1cf/00000000000000007735dafa/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/61e1cf/00000000000000007735dafa/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/61e1cf/00000000000000007735dafa/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:400;
    src:url("https://use.typekit.net/af/58ad0b/00000000000000007735db01/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/58ad0b/00000000000000007735db01/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/58ad0b/00000000000000007735db01/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
    font-display:auto;font-style:italic;font-weight:400;
    src:url("https://use.typekit.net/af/97a9b3/00000000000000007735dafc/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/97a9b3/00000000000000007735dafc/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/97a9b3/00000000000000007735dafc/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
    font-display:auto;font-style:italic;font-weight:700;
    src:url("https://use.typekit.net/af/698f03/00000000000000007735db03/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/698f03/00000000000000007735db03/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/698f03/00000000000000007735db03/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:700;
    
    font-family: noto-sans-cjk-kr, sans-serif;
    font-weight: 400;
    font-style: normal;
}


body {
    font-family: macho, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--white);
}

/* Global headings */
h1,
h2,
h3 {
    font-family: noto-sans-cjk-kr, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    font-size: 1.2rem;
    margin-top: 0px;
}

h2 {
    font-size: 1rem;
    font-weight: bold;
    display: inline-block;
}

h3 {
    font-size: 0.8rem;
    margin-top: 0px;
}

/* Hover */
a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

label:hover {
    cursor: pointer;
}

/* Header */
header {
    background-color: var(--grey);
    border-bottom: 1px black solid;
}

nav {
    max-width: 900px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
}

.motto {
    font-size: 1.2rem;
    color: black
}

.nav-icon-container {
    display: flex;
}

#dropdown-searchbar:checked ~ .searchbar-container,
#dropdown-menu:checked ~ .site-navigation {
    display: block;
}

#dropdown-searchbar, .searchbar-container {
    display: none;
}

#dropdown-menu, .site-navigation {
    display: none;
}

.searchbar-container {
    position: absolute;
    right: 8px;
    background-color: var(--grey);
    padding: 10px;
    border: 1px black solid;
    border-radius: 5px;
}

.searchbar {
    border-radius: 5px;
    font-family: macho, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.searchbar-button {
    margin: 0px;
    background-color: transparent;
    border-style: solid;
    border: none;
}

.site-navigation {
    position: absolute;
    left: 8px;
    background-color: var(--grey);
    border: 1px black solid;
    border-radius: 5px;
    z-index: 20;
}

.site-navigation-border {
    padding: 0px 30px 0px 10px;
}

.site-navigation-text {
    color: black;
    font-weight: bold;
}

.booking-text-span {
    display: flex;
    flex-direction: column;
}

.current-container {
    background-color: var(--green);   
}

/* Footer */
footer {
    background-color: var(--grey);
    font-size: 0.7rem;
}

.footer-container {
    display: grid;
    grid-template-columns: auto auto;
    max-width: 600px;
    margin: 0px auto;
}

.hours-section {
    padding: 0px 20px;
}

.address-section {
    padding-left: 30px;
}

.footer-heading {
    font-weight: bold;
}

.address-info {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-bottom: 15px;
}

.address-text {
    margin: 0px;
}

.hours-text {
    margin: 0px 0px;
}

/* Sections */
.section-subcontainer  {
    max-width: 600px;
    margin: 0px auto;
    place-content: center;
}

.top-section {
    background-color: var(--light-green);
    min-height: 60px;
    padding: 20px 10px 0px 10px;
    margin-bottom: 20px;
}

.standard-section {
    padding: 20px 10px;
    margin-bottom: 20px;
}

/* images */
.logo-container {
    display: flex;
}

.logo {
    max-width: 48px;
    max-height: 52px;
    padding: 15px 5px 0px 0px;
    transform: rotate(270deg);
}

.top-image {
    width: 100%;
}

.section-image {
    width: 100%;
    max-height: 40vh;
}

.section-image-container {
    margin: 0px auto;
    max-width: 900px
}

/* Bacground Colours */
.red-section {
    background-color: var(--red);
}

.aqua-section {
    background-color: var(--aqua);
}

.orange-section {
    background-color: var(--orange);
}

.purple-section {
    background-color: var(--purple);
}

.blue-section {
    background-color: var(--blue);
}

.light-green-container {
    background-color: var(--light-green);
}

/* Specific CSS for individual pages */
.info-heading {
    margin-bottom: 5px;
}

.info-text {
    margin-top: 0px;
}

.accessibility-heading {
    margin-top: 25px;
}

/* Buttons */
.button {
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 3px 3px rgba(48, 51, 54, 0.4);
    font-family: noto-sans-cjk-kr, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
    background-color: var(--green);
    padding: 5px 20px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.button::before {
    content: "";
    padding: 10px;
    background-color: white;
    transform: rotate(45deg);
    position: absolute;
    height: 80px;
    top: -40px;
    left: -100px;
    transition: left ease-in-out 1s;
}

.button:hover:before {
    left: 120%;
}

.get-involved-button {
    padding: 5px 5px;
}

.right-button-container {
    display: flex;
    place-content: flex-end;
}

.home-button-section {
    max-width: 600px;
    margin: 30px auto;
}

.home-button {
    background-color: var(--white);
    color: #565656;
}

.side-by-side-button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

/* Icons */
.fa-search,
.fa-bars,
.fab {
    padding: 20px 10px 20px 20px;
    font-size: 2rem;
    cursor: pointer;
}

.fa-map-pin,
.fa-envelope,
.fa-phone-alt {
    font-size: 1rem;
    align-self: center;
    padding-right: 10px;
}

.fa-map-pin {
    transform: rotate(-30deg);
}

.fab {
    color: #3D3D3D;
}

.fa-youtube:hover {
    color: #e62117;
}

.fa-tiktok:hover {
    color: #010101;
    text-shadow: 2px 3px#ee1d52, -2px -3px #69c9d0;
}

.fa-snapchat:hover {
    color: orange;
}

.fa-facebook:hover {
    color: #3b5998;
}

.fa-twitter:hover {
    color: #08a0e9;
}

.searchbar-trigger {
    padding: 0px;
    font-size: 1rem;
}

@media (min-width: 760px) {
    h1 {
        font-size: 1.5rem;
    }

    h2,
    h3,
    p {
        font-size: 1.2rem;
    }

    .top-image {
        max-height: 40vh;
    }

    .button {
        width: 150px;
        font-size: 1.2rem;
    }

    .stretched-images,
    .special-images {
        object-fit: cover;
    }

    .special-images {
        object-position: top;
    }
    
    .map {
        width: 600px;
        height: 400px;
    }
}

@media (min-width: 907px) {
    .logo-container {
        align-items: center;
    }
    
    .logo {
        max-width: 90px;
        max-height: 90px;
    }

    .nav-icon-container {
        flex-direction: row-reverse;
    }

    .hamburger-menu {
        display: none;
    }

    .site-navigation {
        position: relative;
        display: flex;
        background-color: transparent;
        border: none;
        margin-top: 20px;
    }

    .site-navigation-border {
        border: none;
        padding-right: 10px;
    }

    .site-navigation p {
        font-size: 1rem;
        font-weight: 400;
    }

    .search-button-container {
        place-self: center;
    }

    .searchbar-container {
        margin-top: 16px;
    }

    #dropdown-menu:checked ~ .site-navigation {
        display: flex;
    }

    .current {
        text-decoration: underline;
    }

    .current-container {
        background-color: transparent;   
    }
}

@media (min-width: 1405px) {
    .searchbar-container {
        position: absolute;
        right: auto;
        top: 117px;
    }
    nav {
        max-width: 1100px;
    }

    .site-navigation p{
        font-size: 1.3rem;
    }

    .site-navigation-border {
        max-height: 70px;
        margin-bottom: 35px;
    }
}