@font-face {
    font-family: macho, sans-serif;
    src: url("https://use.typekit.net/af/61e1cf/00000000000000007735dafa/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/61e1cf/00000000000000007735dafa/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/61e1cf/00000000000000007735dafa/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:400;
    src:url("https://use.typekit.net/af/58ad0b/00000000000000007735db01/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/58ad0b/00000000000000007735db01/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/58ad0b/00000000000000007735db01/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
    font-display:auto;font-style:italic;font-weight:400;
    src:url("https://use.typekit.net/af/97a9b3/00000000000000007735dafc/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/97a9b3/00000000000000007735dafc/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/97a9b3/00000000000000007735dafc/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
    font-display:auto;font-style:italic;font-weight:700;
    src:url("https://use.typekit.net/af/698f03/00000000000000007735db03/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/698f03/00000000000000007735db03/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/698f03/00000000000000007735db03/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:700;
    
    font-family: noto-sans-cjk-kr, sans-serif;
    font-weight: 400;
    font-style: normal;
}


body {
    font-family: macho, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #F7F7F7;
}

h1,
h2,
h3 {
    font-family: noto-sans-cjk-kr, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    font-size: 1.2rem;
    margin-top: 0px;
}

h2 {
    font-size: 1rem;
    font-weight: bold;
    display: inline-block;
    padding-left: 15px;
}

.info-section-h2 {
    padding-left: 20px;
}

h3 {
    font-size: 0.8rem;
    margin-top: 0px;
}

a {
    text-decoration: none;
}

header {
    background-color: #e6e6e6;
    border-bottom: 1px black solid;
}

nav {
    max-width: 900px;
    margin: 0px auto;
}

.footer-container {
    max-width: 760px;
    margin: 0px auto;
}

nav {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;

}

.motto {
    font-size: 1.2rem;
    color: black
}

.logo-container {
    display: flex;
}

.logo {
    max-width: 48px;
    max-height: 52px;
    padding: 15px 5px 0px 0px;
}

.nav-icon-container {
    display: flex;
}

#dropdown-searchbar:checked ~ .searchbar-container {
    display: block;
}

#dropdown-searchbar, .searchbar-container {
    display: none;
}

#dropdown-menu:checked ~ .site-navigation {
    display: block;
}

#dropdown-menu, .site-navigation {
    display: none;
}

label:hover {
    cursor: pointer;
}

.searchbar-container {
    position: absolute;
    right: 8px;
    background-color: #e6e6e6;
    padding: 10px;
    border: 1px black solid;
    border-radius: 5px;
}

.searchbar {
    border-radius: 5px;
    font-family: macho, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.searchbar-button {
    margin: 0px;
    background-color: transparent;
    border-style: solid;
    border: none;
}

.site-navigation {
    position: absolute;
    left: 8px;
    background-color: #e6e6e6;
    border: 1px black solid;
    border-radius: 5px;
}

.site-navigation-border {
    padding: 0px 30px 0px 10px;
}

.site-navigation-text {
    color: black;
    font-weight: bold;
}

.booking-text-span {
    display: flex;
    flex-direction: column;
}

.current-container {
    background-color: #6FFF87;   
}

footer {
    background-color: #e6e6e6;
    font-size: 0.7rem;
}

.footer-container {
    display: grid;
    grid-template-columns: auto auto;
}

.hours-section {
    padding: 0px 20px;
}

.address-section {
    padding-left: 30px;
}

.footer-heading {
    font-weight: bold;
}

.address-info {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-bottom: 15px;
}

.address-text {
    margin: 0px;
}

.hours-text {
    margin: 0px 0px;
}

.spacing {
    min-height: 20px;
}

.top-image {
    width: 100%;
}

.top-image-container {
    margin: 0px auto;
    max-width: 1920px
}

.section-subcontainer  {
    max-width: 600px;
    margin: 0px auto;
    place-content: center;
}


.section-image {
    width: 100%;
    max-height: 40vh;
}

.section-image-container {
    margin: 0px auto;
    max-width: 900px
}

.top-section {
    background-color: #D7DED4;
    min-height: 60px;
    padding: 20px 10px 0px 10px;
    margin-bottom: 20px;
}

.standard-section {
    padding: 20px 10px;
    margin-bottom: 20px;
}

.red-section {
    background-color: #E88A9B;
}

.aqua-section {
    background-color: #4DD4D5;
}

.orange-section {
    background-color: #D59F8E;
}

.purple-section {
    background-color: #DD96E5;
}

.blue-section {
    background-color: #889AD5;
}


/* buttons and icons*/

.button {
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 2px 2px #A4A4A4;
    font-family: noto-sans-cjk-kr, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
    background-color: #6FFF87;
    padding: 5px 20px;
    cursor: pointer;
}

.get-involved-button {
    padding: 5px 5px;
}

.fa-search,
.fa-bars,
.fa-youtube,
.fa-tiktok,
.fa-snapchat,
.fa-facebook,
.fa-twitter {
    padding: 20px 10px 20px 20px;
    font-size: 2rem;
    cursor: pointer;
}

.fa-youtube,
.fa-tiktok,
.fa-snapchat,
.fa-facebook,
.fa-twitter {
    color: #3D3D3D;
}

.fa-map-pin,
.fa-envelope,
.fa-phone-alt {
    font-size: 1rem;
    align-self: center;
    padding-right: 10px;
}

.fa-map-pin {
    transform: rotate(-30deg);
}

.searchbar-trigger {
    padding: 0px;
    font-size: 1rem;
}

.right-button-container {
    display: flex;
    place-content: end;
}

.home-button-section {
    max-width: 600px;
    margin: 30px auto;
}

.home-button {
    background-color: #F7F7F7;
    color: #565656;
    margin-right: 10px;
}



@media (min-width: 760px) {
    h1,
    h2,
    h3,
    p {
        font-size: 1.2rem;
    }

    .top-image {
        max-height: 40vh;
    }

    .button {
        width: 150px;
        font-size: 1.2rem;
    }

    .stretched-images {
        object-fit: cover;
    }
}

@media (min-width: 907px) {
    .logo-container {
        align-items: center;
    }
    
    .logo {
        max-width: 90px;
        max-height: 90px;
    }

    .nav-icon-container {
        flex-direction: row-reverse;
    }

    .hamburger-menu {
        display: none;
    }

    .site-navigation {
        position: relative;
        display: flex;
        background-color: transparent;
        border: none;
        margin-top: 20px;
        
    }

    .site-navigation-border {
        border: none;
        padding-right: 10px;

    }

    .site-navigation p {
        font-size: 1rem;
        font-weight: 400;
    }

    .search-button-container {
        place-self: center;
    }

    .searchbar-container {
        margin-top: 16px;
    }

    #dropdown-menu:checked ~ .site-navigation {
        display: flex;
    }

    .current {
        text-decoration: underline;
    }

    .current-container {
        background-color: transparent;   
    }


}

@media (min-width: 1405px) {
    .searchbar-container {
        position: absolute;
        right: auto;
        top: 117px;
    }
    nav {
        max-width: 1100px;
    }

    .site-navigation p{
        font-size: 1.3rem;
    }

    .site-navigation-border {
        max-height: 70px;
        margin-bottom: 35px;
    }
}