/* Main body index page*/
.top-image {
    width: 100%;
}

.top-image-container {
    margin: 0px auto;
    max-width: 1920px
}

.welcome-section-container,
.special-events-section-container,
.explore-section-container,
.exhibits-section-container,
.social-section,
.social-section-container {
    max-width: 900px;
    margin: 0px auto;
}

.welcome-section {
    background-color: #D7DED4;
    text-align: center;
    padding-bottom: 20px;
}

.welcome-section-container {
    display: flex;
    flex-direction: column;
}

.welcome-section h1 {
    font-size: 1rem;
    max-width: 600px;
    margin: 10px auto;
    display: inline-block;
    padding: 0px 10px;
}

.spacing {
    min-height: 20px;
}

.special-events-section,
.exhibits-section {
    background-color: #e6e6e6;
    padding-bottom: 20px;
}

h2 {
    font-size: 1rem;
    font-weight: bold;
    display: inline-block;
    padding-left: 15px;
}

.special-events-section h3,
.exhibits-section h3 {
    font-size: 0.8rem;
    margin-top: 0px;
}

.events-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    gap: 5px;
}

.events-colour-1,
.explore-colour-2,
.exhibits-color-5 {
    background-color: #E88A9B;
    
}

.events-colour-2,
.explore-colour-1,
.exhibits-color-3  {
    background-color: #4DD4D5;
}

.events-colour-3,
.explore-colour-3,
.exhibits-color-4 {
    background-color: #D59F8E;
    
}

.events-subcontainer-3 {
    margin-right: 5px;
}

.events-subcontainer-1 {
    margin-left: 5px;
}

.exhibits-color-1 {
    background-color: #889AD5;
}

.exhibits-color-2 {
    background-color: #DD96E5;
}

.events-subcontainer {
    min-height: 180px;
}

.events-subcontainer,
.exhibits-subcontainer {
    max-width: 100px;
    padding: 4px 2px 0px 2px;
    border-radius: 10px;
    color: black;
    text-align: center;
    box-shadow: 3px 3px #A4A4A4;
}

.explore-subcontainer {
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
    font-size: 0.8rem;
    min-height: 190px;
    border-radius: 10px;
    padding-left: 5px;
    box-shadow: 3px 3px #A4A4A4;
}

.exhibits-subcontainer {
    min-height: 150px;
}

.events-image,
.explore-image,
.exhibits-image {
    width: 95px;
    max-height: 95px;
    border-radius: 10px;
}

.explore-container {
    display: grid;
    gap: 20px;
}

.explore-container h3 {
    margin-bottom: 0px;
}

.explore-image-container {
    align-self: center;
}

.explore-image {
    max-height: 185px;
}

.explore-text-container {
    display: grid;
    grid-template-rows: auto auto;
    max-width: 200px;
}

.explore-text {
    margin-top: 0px;
}

.explore-button {
    justify-self: flex-end;
    align-self: flex-end;
    margin-bottom: 10px;
}

.exhibits-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px;
}

.exhibits-robotics-h3 {
    display: inline-block;
    margin: 0px 5px;
}

.exhibits-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.social-section-container h3{
    text-align: center;
    font-size: 0.9rem;
    display: inline-block;
    padding: 0px 20px;
}

.social-icons-container {
    display: flex;
    justify-content: space-evenly;
}