/* Main body index page*/
.welcome-section-container,
.special-events-section-container,
.explore-section-container,
.exhibits-section-container,
.social-section,
.social-section-container {
    max-width: 900px;
    margin: 0px auto;
}

h2 {
    padding-left: 10px;
}

.welcome-section {
    background-color: #D7DED4;
    text-align: center;
    padding-bottom: 20px;
}

.welcome-section-container {
    display: flex;
    flex-direction: column;
}

.welcome-section h1 {
    font-size: 1rem;
    max-width: 600px;
    margin: 10px auto;
    display: inline-block;
    padding: 0px 10px;
}

.special-events-section,
.exhibits-section {
    background-color: #e6e6e6;
    padding-bottom: 20px;
}

.events-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    gap: 5px;
}

.events-colour-1,
.explore-colour-2,
.exhibits-color-5 {
    background-color: #E88A9B;
    
}

.events-colour-2,
.explore-colour-1,
.exhibits-color-3  {
    background-color: #4DD4D5;
}

.events-colour-3,
.explore-colour-3,
.exhibits-color-4 {
    background-color: #D59F8E;
    
}

.events-subcontainer-3 {
    margin-right: 5px;
}

.events-subcontainer-1 {
    margin-left: 5px;
}

.exhibits-color-1 {
    background-color: #889AD5;
}

.exhibits-color-2 {
    background-color: #DD96E5;
}

.events-subcontainer {
    min-height: 180px;
}

.events-subcontainer,
.exhibits-subcontainer {
    max-width: 100px;
    padding: 4px 2px 0px 2px;
    border-radius: 10px;
    color: black;
    text-align: center;
    box-shadow: 3px 3px rgba(48, 51, 54, 0.4);
}

.explore-subcontainer {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 15px;
    font-size: 0.8rem;
    min-height: 190px;
    border-radius: 10px;
    padding-left: 5px;
    box-shadow: 3px 3px rgba(48, 51, 54, 0.4);
}

.exhibits-subcontainer {
    min-height: 150px;
}

.events-image,
.explore-image,
.exhibits-image {
    width: 95px;
    max-height: 95px;
    border-radius: 10px;
}

.explore-container {
    display: grid;
    gap: 20px;
}

.explore-container h3 {
    margin: 10px 0px 0px 0px;
}

.explore-image-container {
    align-self: center;
}

.explore-image {
    max-height: 185px;
}

.explore-text-container {
    display: grid;
    grid-template-rows: auto auto;
    max-width: 400px;
    margin-right: 10px;
}

.explore-text {
    margin-top: 0px;
}

.explore-kids-text {
    margin-bottom: 0px;
}

.explore-button {
    justify-self: flex-end;
    align-self: flex-end;
    margin-bottom: 10px;

}


.exhibits-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    gap: 15px;
}

.exhibits-robotics-h3 {
    display: inline-block;
    margin: 0px 5px;
}

.exhibits-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.social-section-container h3{
    text-align: center;
    padding: 0px 20px;
}

.social-icons-container {
    display: flex;
    justify-content: center;
    max-width: 500px;
    margin: 0px auto;
}


/* media queries for this page */

@media (min-width: 600px) {
    h2 {
        padding-left: 50px;
    }
    
    .events-subcontainer,
    .exhibits-subcontainer  {
        max-width: 150px;
        min-height: 200px;
    }

    .events-colour-2,
    .exhibits-color-2,
    .exhibits-color-3,
    .exhibits-color-5 {
        width: 200px;
    }

    .events-image,
    .exhibits-image {
        width: 140px;
        max-height: 120px;
        border-radius: 10px;
    }

    .explore-image {
        width: 140px;
    }

    .explore-subcontainer {
        height: 200px;
    }

    .exhibits-buttons {
        justify-self: center;
    }

    

}

@media (min-width: 760px) {
    .welcome-section-container {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
    }

    .welcome-section h1 {
        text-align: left;
        max-width: 450px;
        padding-left: 50px;
    }


    .events-subcontainer,
    .exhibits-subcontainer {
        max-width: 230px;
        min-height: 280px;
    }

    .events-colour-1,
    .events-colour-2,
    .events-colour-3,
    .exhibits-color-1,
    .exhibits-color-2,
    .exhibits-color-3,
    .exhibits-color-4,
    .exhibits-color-5 {
        width: 230px;
    }

    .events-image,
    .explore-image,
    .exhibits-image {
        width: 220px;
        max-height: 200px;
        border-radius: 10px;
    }

    .events-subcontainer h3,
    .exhibits-section h3 {
        margin-top: 10px;
    }

    .explore-subcontainer {
        width: 730px;
        height: 240px;
        margin: 0px auto;
    }

    .exhibit-buttons {
        width: 200px;
        font-size: 1.2rem;
    }
    
    
}

@media (min-width: 860px) {
    .explore-subcontainer { 
        width: 840px;
    }
}

@media (min-width: 900px) {
    .explore-section {
        background-image: url(../images/binoculars-2028304-desktop.png);
        background-repeat: no-repeat;
        background-size: 100%;
        max-width: 1920px;
        min-height: 900px;
        margin: 0px auto;
    }
}