:root {
    --green: #6fff87;
    --blue: #889ad5;
    --light-green: #d7ded4;
    --orange: #d59f8e;
    --red: #e88a9b;
    --aqua: #4dd4d5;
    --purple: #dd96e5;
    --grey: #e6e6e6;
    --white: #f7f7f7;
}